.bigBox {
    height: 300px;
    width: 300px;
    background-color: rgb(13, 13, 230);
    margin: 200px auto;
    border: solid 20px aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-family: sans-serif;
    font-size: xx-large;
    color: red;
    background: linear-gradient(to right, rgba(236, 19, 236, 0) 0%, rgba(21, 218, 218, 0.5) 20%, rgba(230, 20, 20, 0) 61%), linear-gradient(rgb(97, 183, 217) 52%, rgb(224, 246, 255) 60%, rgb(78, 99, 132) 61%);
}